<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057480710402-rrodh18534oaj1kk34odp1itr6gjqira.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057480710402-rrodh18534oaj1kk34odp1itr6gjqira</string>
	<key>API_KEY</key>
	<string>AIzaSyDpgwzm92tRsmXaNSGpNupXPcrJb2JAi9U</string>
	<key>GCM_SENDER_ID</key>
	<string>1057480710402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aom.makuuygulama</string>
	<key>PROJECT_ID</key>
	<string>makuuygulama</string>
	<key>STORAGE_BUCKET</key>
	<string>makuuygulama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057480710402:ios:d4e6b1216916eca1bf4a1b</string>
</dict>
</plist>